/***************************************************
   DEBUT GLOBAL
***************************************************/
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

iframe {
    max-width: 100%;
    display: block;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: red;
    /* Inherit Forcer l'héritage du parent*/
}

h1{

    margin: 0;
}

body{

    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    background: linear-gradient( to left,#F25E6B, #048ABF);
}

.page{

    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    
}


.espacejoueur {

    width: 100px;
    height: 300px;
    background-color: #048ABF;
    margin:10px auto;
    margin-left: 15px;
    border-radius: 30px;
    border: 7px solid black;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.espacecentral {
    width: 550px;
    min-height: 300px;
    background-color: #F2E2CE;
    margin: 200px auto;
    border-radius: 30px;
    border: 7px solid black;
    
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.espaceia {

    width: 100px;
    height: 300px;
    background-color: #F25E6B;
    margin: 0px auto;
    margin-right: 15px;
    border-radius: 30px;
    border: 7px solid black;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.scorej1{

    color: black;
    border: 3px solid black;
    border-radius: 40px;
    background-color: #F2E2CE;
    padding: 5px;
    width: 50px;
    text-align: center;
    font-size: 25px;
}

.scoreia{

    color: black;
    border: 3px solid black;
    border-radius: 40px;
    background-color: #F2E2CE;
    padding: 5px;
    width: 50px;
    text-align: center;
    font-size: 25px;
}

.pierre {

    width: 75px;
    height: 75px;
    transition: 500ms all ease;
}
.pierre:hover{
    width: 90px;
    cursor: pointer;
}


.papier {

    width: 75px;
    height: 75px;
    transition: 500ms all ease;

}
.papier:hover{

    width: 90px;
    cursor: pointer;
    
}


.ciseau {

    width: 75px;
    height: 75px;
    transition: 500ms all ease;
}
.ciseau:hover{
    width: 90px;
    cursor: pointer;
}

.choixjoueur{

    width: 100px;
    height: 100px;
    background-color: #048ABF;
    border: 3px solid black;
    margin-right: 5px;
    

}
.choixia{
    margin-left: 5px;
    width: 100px;
    height: 100px;
    background-color: #F25E6B;
    border: 3px solid black;

}

.papieria {

    width: 75px;
    height: 75px;
    transition: 500ms all ease;

}

.pierreia {

    width: 75px;
    height: 75px;
    transition: 500ms all ease;
}

.ciseauia {

    width: 75px;
    height: 75px;
    transition: 500ms all ease;
}
.papieria:hover {

    cursor: not-allowed;
}

.pierreia:hover {

    cursor: not-allowed;}

.ciseauia:hover {

    cursor: not-allowed;}

    .boutonstyle{


        border: 2px solid black;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #F2E2CE;
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        transition: 0.5s all ease;


    }

    .boutonstyle:hover{

        background-color: green;
        cursor: pointer;
    }



    #reset{

        background-color: black;
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border: 2px sold black;
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: white;
    }
.boutonbox{

    padding-bottom: 15px;
}


.bandeau{
    width: 450px;
    min-height: 100px;
    background-color: #F2E2CE;
    margin: 0 auto;
    border-radius: 30px;
    border: 4px solid #048ABF;
    margin-top: 3px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;

}


.gagne{
    width: 200px;
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: none;
    text-transform: capitalize;
    
    color: white;
}

.perdu{
    width: 200px;
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    display: none;
    color: white;
    
}
.egalite{
    width: 200px;
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    display: none;
    
    color: white;
}











/***************************************************
   STRUCTURE
***************************************************/

/***************************************************
   TYPO
***************************************************/

/***************************************************
   HABILLAGE
***************************************************/

/***************************************************
   MODULES
***************************************************/

/* Formulaire contact*/